Repository byronmejia/isthenewapplewatchout.com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser typescript --write --config ./.prettierrc, prettier --write --config ./.prettierrc, prettier --parser json --write --config ./.prettierrc

feat(main): add theme selector
  gatsby-ssr.js
  package.json
  src/components/FullPage.tsx
  src/components/RootLayout.tsx
  src/state/createStore.ts
  src/style/global.ts
  src/style/theme.ts
  src/theme/ThemeSelector.tsx
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc, prettier --write --config ./.prettierrc, prettier --parser json --write --config ./.prettierrc

Add ability to select a system theme
  src/state/theme/types.ts
  src/theme/ThemeSelector.tsx
Due: prettier --parser typescript --write --config ./.prettierrc

Add: System theme extraction
  src/components/RootLayout.tsx
Due: prettier --parser typescript --write --config ./.prettierrc

feat(styling): add system theme (#2)
  src/components/RootLayout.tsx
  src/state/theme/types.ts
  src/theme/ThemeSelector.tsx
Due: prettier --parser typescript --write --config ./.prettierrc

Don't use window
  src/components/RootLayout.tsx
Due: prettier --parser typescript --write --config ./.prettierrc

fix(app): window is not defined AOT (#3)
  src/components/RootLayout.tsx
Due: prettier --parser typescript --write --config ./.prettierrc

fix(main): add pointer to theme selector options
  src/theme/ThemeSelector.tsx
Due: prettier --parser typescript --write --config ./.prettierrc

fix(main): add pointer to theme selector options (#11)
  src/theme/ThemeSelector.tsx
Due: prettier --parser typescript --write --config ./.prettierrc

feat(main): add <title> tag (#5)
  src/pages/index.tsx
Due: prettier --parser typescript --write --config ./.prettierrc

feat(main): add <title> tag (#5) (#12)
  src/pages/index.tsx
Due: prettier --parser typescript --write --config ./.prettierrc

chore: add bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Write first test
  jest.config.js
  package.json
  src/components/FullPage.spec.tsx
  src/components/__snapshots__/FullPage.spec.tsx.snap
  test-setup.ts
  tsconfig.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc, prettier --write --config ./.prettierrc, prettier --parser json --write --config ./.prettierrc

Add: travis
  .travis.yml
Due: none

Important stuff
  .nvmrc
  README.md
Due: none

Add: code coverage?
  .travis.yml
Due: none

Fix boy
  package.json
  src/theme/ThemeSelector.tsx
Due: prettier --parser typescript --write --config ./.prettierrc, prettier --parser json --write --config ./.prettierrc

Text and stuff
  jest.config.js
Due: prettier --write --config ./.prettierrc

chore: add testing & CI (#13)
  .nvmrc
  .travis.yml
  README.md
  jest.config.js
  package.json
  src/components/FullPage.spec.tsx
  src/components/__snapshots__/FullPage.spec.tsx.snap
  src/theme/ThemeSelector.tsx
  test-setup.ts
  tsconfig.json
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc, prettier --write --config ./.prettierrc, prettier --parser json --write --config ./.prettierrc

Starting: i18n work
  .linguirc
  package.json
  src/locales/en/messages.po
  src/locales/es/messages.po
  src/pages/index.tsx
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc, prettier --parser json --write --config ./.prettierrc

Refactor where util functions live
  gatsby-ssr.js
  src/wrap-with-provider.tsx
Due: prettier --parser typescript --write --config ./.prettierrc, prettier --write --config ./.prettierrc

chore: add code coverage to readme
  README.md
Due: none

feat: allow image bug reports
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

feat: allow image bug reports (#18)
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

feat(main): add system theme via media queries and css variables)
  src/components/RootLayout.tsx
  src/style/global.ts
  src/style/theme.ts
Due: prettier --parser typescript --write --config ./.prettierrc

light theme now explicitally gets extracted
  src/style/global.ts
Due: prettier --parser typescript --write --config ./.prettierrc

feat(main): add system theme via media queries and css variables) (#22)
  src/components/RootLayout.tsx
  src/style/global.ts
  src/style/theme.ts
Due: prettier --parser typescript --write --config ./.prettierrc

feat(main): persis redux state across refresh
  package.json
  wrap-with-provider.tsx
  yarn.lock
Due: prettier --parser typescript --write --config ./.prettierrc, prettier --parser json --write --config ./.prettierrc

Update index.tsx
  src/pages/index.tsx
Due: prettier --parser typescript --write --config ./.prettierrc

Path conditions:
  prettier --parser typescript --write --config ./.prettierrc: any of: *.{ts,tsx}
  prettier --write --config ./.prettierrc: any of: *.{js,jsx}
  prettier --parser json --write --config ./.prettierrc: any of: *.json
